<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Hello ASP.NET Mvc!</h1>
        <form action="/Post" method="post">
        Name:
        <input type="text" name="Name" value="name"></br>
        Location:
        <select name="Location">
            <option >NY</option>
            <option >WA</option>
            <option >CA</option>
            <option >FL</option>
        </select></br>
        Language:
        <select name="Language">
            <option >CSS</option>
            <option >HTML</option>
            <option >JS</option>
            <option >A-JS</option>
        </select></br>
        Comment:
        <textarea rows="4" cols="4" name="Comment"></textarea></br>
        <input type="submit" name="submit" value="submit">
        </form>
        <body>
</body>

    </body>
</html>