<html>
<input type="text" name="Name" value="name">
<select id="Location">
  <option value="NY">NY</option>
  <option value="WA">WA</option>
  <option value="CA">CA</option>
  <option value="FL">FL</option>
</select>
<select id="Language">
  <option value="01">CSS</option>
  <option value="02">HTML</option>
  <option value="03">JS</option>
  <option value="04">A-JS</option>
</select>
<textarea rows="4" cols="4" id="Comment"></textarea>
<input type="submit" name="submit" value="submit">
<form>
    <input type="Subbmit" formaction="/index" value="Back">
</form>

</html>